<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJAEM_xcyb41WSXjsIsCDdQazeBEhzhic</string>
	<key>GCM_SENDER_ID</key>
	<string>379483332296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.Bin.ReptileHub</string>
	<key>PROJECT_ID</key>
	<string>reptilehub-a8815</string>
	<key>STORAGE_BUCKET</key>
	<string>reptilehub-a8815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379483332296:ios:f95ce706d3e32e4d430ffd</string>
</dict>
</plist>